<!DOCTYPE html>
<html>
<head>
	<title>Restaurants</title>
</head>
<body>
	<h1>Restaurants</h1>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li><strong>{{message}}</strong></li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

	<p><a href="{{ url_for('newRestaurant') }}">Create new restaurant</a></p>

	{% for restaurant in restaurants %}
	<p>
		{{restaurant.name}} </br>
		<a href="{{ url_for('showMenu', restaurant_id=restaurant.id) }}">See menu</a> </br>
		<a href="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}">Edit</a> </br>
		<a href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}">Delete</a> </br>
	</p>
	{% endfor %}
</body>
</html>